.btn-primary-cta {
  color: white;
  font-weight: 600;

  border-radius: 0.5rem;
  background: linear-gradient(
    90deg,
    rgba(153, 0, 255, 0.25) 0%,
    rgba(92, 0, 153, 0.25) 100%
  );

  box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(7.5px);

  @include primary-font-custom(1.125rem, 800);
  line-height: 0.875rem;

  padding: 1.12rem 1.56rem;

  &:hover {
    color: white;
    background: linear-gradient(
      90deg,
      rgba(153, 0, 255, 0.55) 0%,
      rgba(92, 0, 153, 0.55) 100%
    );
  }

  position: relative;

  &::after {
    content: "";
    background-image: url(../images/right-arrow-white.svg);
    background-repeat: no-repeat;
    width: 0.72rem;
    height: 0.72rem;
    background-size: contain;
    display: inline-block;
    margin-left: 0.44rem;
  }

  &.bg-solid {
    background: $cst-color-1;
    &:hover {
      background: darken($cst-color-1, 16);
    }
  }

  &.bg-white{
    background: white;
    color: black;

    &::after {
      background-image: url(../images/right-arrow-black.svg);
    }

    &:hover {
      background: darken(white, 16);
      color: black;
    }
  }
}

.btn-whatsapp {
  color: white;
  font-weight: 600;

  border-radius: 0.5rem;
  background: black;

  box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(7.5px);

  @include primary-font-custom(1.125rem, 800);
  line-height: 0.875rem;

  padding: 1.12rem 1.56rem;

  position: relative;

  display: inline-flex;
  align-items: center;

  &:hover {
    color: white;
    background: rgba(black, 0.88);
  }

  &::after {
    content: "";
    background-image: url(../images/icon-whatsapp-white.svg);
    background-repeat: no-repeat;
    width: 1.3rem;
    height: 1.3rem;
    background-size: contain;
    display: inline-block;
    margin-left: 0.7rem;
  }
  &.bg-solid {
    background: $cst-color-1;
    &:hover {
      background: darken($cst-color-1, 16);
    }
  }
}
