.hero {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;

  background-image: var(--desktop-bg);
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;

  min-height: 51.625rem;

  @include media-breakpoint-down(sm) {
    background-image: var(--mobile-bg);
    min-height: 59.75rem;
  }

  .cont-hero {
    .header-1 {
      @include primary-font-custom(6.25rem, 800);
      line-height: 5rem;
      white-space: pre-line;
      transform: translateX(-100px);
      opacity: 0;
      @include media-breakpoint-down(sm) {
        @include primary-font-custom(3.75rem, 800);
        line-height: 3.75rem;
        margin-bottom: 1.5rem;
      }
    }
  }
}
