/* Custom variables */
$cst-color-1: #9900FF;
$cst-color-2: #00c9b7;
$cst-color-3: #310046;
$cst-color-4: #B300FF;
$cst-color-5: #90F;

// .container
$max-width-container: 1136px;

//Footer
$footer-padding: 4.8rem 0 3.5rem;
$icon-size: 2.6rem;
$icon-margin: 1.88rem;
$icon-hover-opacity: 0.86;